@import "./base/Base.module.scss";

.MaintenanceWrapper {
    display: flex;
    flex-flow: column-reverse;
    min-width: 375px;
}

.MaintenanceBackground {
    width: 100vw;
    height: 65vh;
    background-image: url("../assets/images/blueprint.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.MaintenanceCopyWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 30vh;

    h4 {
        margin-bottom: 3vw;
        text-align: center;
        span {
            text-transform: uppercase;
            text-decoration: underline;
        }
    }

    h5 {
        margin-top: 2vw;
    }
}

@media #{$mq-medium} {
}

@media #{$mq-large} {
    .MaintenanceWrapper {
        flex-flow: row;
    }

    .MaintenanceBackground {
        width: 80%;
        height: 100vh;
    }

    .MaintenanceCopyWrap {
        height: 100vh;

        h4 {
            margin-bottom: 1.5vw;
        }

        h5 {
            margin-top: 2vw;
        }
    }
}

@media #{$mq-largest} {
}
